@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Source+Code+Pro:wght@300;400;700&display=swap");

:root {
  --clr-primary-200: #3c3c40;
  --clr-primary-400: #16161a;
  --clr-primary-600: #000000;

  --clr-secondary-200: #69e9ac;
  --clr-secondary-400: #2cb67d;
  --clr-secondary-600: #008550;

  --clr-light: #fff;
  --clr-grey: #666666;
  --clr-grey-light: #a9a9a9;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-600: 1.65rem;
  --fs-800: 2.25rem;

  --fw-400: 300;
  --fw-700: 400;
  --fw-900: 700;

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.8rem;

  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
}
/*? Typography */

h1 {
  font-size: var(--fs-h1);
  text-align: center;
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}
/*? END Typography */

body {
  /* font-family: var(--ff-primary); */
  background-color: var(--clr-primary-200);
  /* font-size: var(--fs-400); */
  /* font-weight: var(--fw-400); */
  color: var(--clr-light);
  /* line-height: 1.6; */
}

/* NAV START */

header {
  background-color: var(--clr-primary-400);
  text-align: center;
  top: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto minmax(800px, 1fr) 1fr;
}

.logo {
  grid-column: 2/3;
  width: 180px;
  margin: 0;
  padding: 10px;
}

nav {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  /* margin-right: 1em; */
  padding: 0 10px;
  border-right: 1px solid var(--clr-secondary-400);
}

nav ul li:last-child {
  border-right: none;
}

nav a {
  color: var(--clr-light);
  text-decoration: none;
  font-size: var(--fs-400);
}

.nav-icon {
  font-size: var(--fs-800);
  line-height: 0.8em;
}

nav a:hover {
  color: var(--clr-secondary-200);
}

/* NAV END */

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 110px;
}

.class-container {
  margin-top: 10px;
  background-color: var(--clr-grey-light);
  color: var(--clr-primary-600);
  display: flex;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 8px -2px var(--clr-primary-600);
}

.build-name {
  width: 350px;
  border-right: 1px solid var(--clr-grey);
  padding: 10px;
  line-height: 1.5rem;
  /* text-align: center; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.build-name__name {
  font-weight: var(--fw-900);
  display: flex;
  justify-content: left;
  align-items: center;
}
.build-icon {
  font-size: var(--fs-600);
  padding-right: 10px;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.build-notes {
  width: 100%;
  padding: 10px;
  line-height: 1.5rem;
}

.build-copy {
  background-color: var(--clr-secondary-400);
  padding: 5px;
  border-radius: 0.25rem;
  width: fit-content;
  text-align: center;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.build-copy a {
  text-decoration: none;
  color: var(--clr-primary-600);
}

.build-copy a:hover {
  background: var(--clr-secondary-600);
}

.build-copy:hover {
  background: var(--clr-secondary-600);
  cursor: pointer;
}
